<!DOCTYPE html>
<html>
<head>
	<title>ToDo List</title>
</head>
<body>

	<h1>ToDo List Layout - NodeJS</h1>
	
	<h4>Type a Word, + Press Enter to Add a Row</h4>
	
	<ol>
		<% for( var i in tasks ) { %>
		<li><input type="text" name="tasks[]" value="<%= tasks[ i ]; %>" /></li>
		<% } %>
	</ol>
	
</body>
</html>