<!DOCTYPE html>
<html>
<head>
	<title>ToDo Form Layout - NodeJS</title>
</head>
<body>

	<h1>ToDo Form Layout - NodeJS</h1>
	
	<h4>Type a Word, + Press Enter to Add a Row</h4>
	
	
	<form action="" method="post"
		onkeydown=" if( event.keyCode == 13 ) this.submit(); ">
	
		<ol>
			<% for( var i in tasks ) { %>
			<li><input type="text" name="tasks[]" value="<%= tasks[ i ]; %>" /></li>
			<% } %>
		</ol>
	
	</form>
	
</body>
</html>